gdo-web-service-client/gdoClientModule/META-INF/wsdl/NewsFrontendWebServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="NewsFrontendWebServiceService" targetNamespace="http://webservices.gdo.equitalia.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.gdo.equitalia.it/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.gdo.equitalia.it/" schemaLocation="NewsFrontendWebServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="recuperaNewsAttiveDestinateAdUtenteEnte">
    <part element="tns:recuperaNewsAttiveDestinateAdUtenteEnte" name="parameters"/>
  </message>
  <message name="recuperaNewsAttiveDestinateAdUtenteEnteResponse">
    <part element="tns:recuperaNewsAttiveDestinateAdUtenteEnteResponse" name="parameters"/>
  </message>
  <message name="BusinessException">
    <part element="tns:BusinessException" name="fault"/>
  </message>
  <message name="recuperaNewsAttiveDestinateAdUtenteAgente">
    <part element="tns:recuperaNewsAttiveDestinateAdUtenteAgente" name="parameters"/>
  </message>
  <message name="recuperaNewsAttiveDestinateAdUtenteAgenteResponse">
    <part element="tns:recuperaNewsAttiveDestinateAdUtenteAgenteResponse" name="parameters"/>
  </message>
  <message name="recuperaNewsAttivePerAltriUtenti">
    <part element="tns:recuperaNewsAttivePerAltriUtenti" name="parameters"/>
  </message>
  <message name="recuperaNewsAttivePerAltriUtentiResponse">
    <part element="tns:recuperaNewsAttivePerAltriUtentiResponse" name="parameters"/>
  </message>
  <message name="recuperaNewsAttivePerUtenteEsterno">
    <part element="tns:recuperaNewsAttivePerUtenteEsterno" name="parameters"/>
  </message>
  <message name="recuperaNewsAttivePerUtenteEsternoResponse">
    <part element="tns:recuperaNewsAttivePerUtenteEsternoResponse" name="parameters"/>
  </message>
  <portType name="NewsFrontendWebServiceDelegate">
    <operation name="recuperaNewsAttiveDestinateAdUtenteEnte">
      <input message="tns:recuperaNewsAttiveDestinateAdUtenteEnte" wsam:Action="http://webservices.gdo.equitalia.it/NewsFrontendWebServiceDelegate/recuperaNewsAttiveDestinateAdUtenteEnteRequest"/>
      <output message="tns:recuperaNewsAttiveDestinateAdUtenteEnteResponse" wsam:Action="http://webservices.gdo.equitalia.it/NewsFrontendWebServiceDelegate/recuperaNewsAttiveDestinateAdUtenteEnteResponse"/>
      <fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservices.gdo.equitalia.it/NewsFrontendWebServiceDelegate/recuperaNewsAttiveDestinateAdUtenteEnte/Fault/BusinessException"/>
    </operation>
    <operation name="recuperaNewsAttiveDestinateAdUtenteAgente">
      <input message="tns:recuperaNewsAttiveDestinateAdUtenteAgente" wsam:Action="http://webservices.gdo.equitalia.it/NewsFrontendWebServiceDelegate/recuperaNewsAttiveDestinateAdUtenteAgenteRequest"/>
      <output message="tns:recuperaNewsAttiveDestinateAdUtenteAgenteResponse" wsam:Action="http://webservices.gdo.equitalia.it/NewsFrontendWebServiceDelegate/recuperaNewsAttiveDestinateAdUtenteAgenteResponse"/>
      <fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservices.gdo.equitalia.it/NewsFrontendWebServiceDelegate/recuperaNewsAttiveDestinateAdUtenteAgente/Fault/BusinessException"/>
    </operation>
    <operation name="recuperaNewsAttivePerAltriUtenti">
      <input message="tns:recuperaNewsAttivePerAltriUtenti" wsam:Action="http://webservices.gdo.equitalia.it/NewsFrontendWebServiceDelegate/recuperaNewsAttivePerAltriUtentiRequest"/>
      <output message="tns:recuperaNewsAttivePerAltriUtentiResponse" wsam:Action="http://webservices.gdo.equitalia.it/NewsFrontendWebServiceDelegate/recuperaNewsAttivePerAltriUtentiResponse"/>
      <fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservices.gdo.equitalia.it/NewsFrontendWebServiceDelegate/recuperaNewsAttivePerAltriUtenti/Fault/BusinessException"/>
    </operation>
    <operation name="recuperaNewsAttivePerUtenteEsterno">
      <input message="tns:recuperaNewsAttivePerUtenteEsterno" wsam:Action="http://webservices.gdo.equitalia.it/NewsFrontendWebServiceDelegate/recuperaNewsAttivePerUtenteEsternoRequest"/>
      <output message="tns:recuperaNewsAttivePerUtenteEsternoResponse" wsam:Action="http://webservices.gdo.equitalia.it/NewsFrontendWebServiceDelegate/recuperaNewsAttivePerUtenteEsternoResponse"/>
      <fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservices.gdo.equitalia.it/NewsFrontendWebServiceDelegate/recuperaNewsAttivePerUtenteEsterno/Fault/BusinessException"/>
    </operation>
  </portType>
  <binding name="NewsFrontendWebServicePortBinding" type="tns:NewsFrontendWebServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="recuperaNewsAttiveDestinateAdUtenteEnte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
    </operation>
    <operation name="recuperaNewsAttiveDestinateAdUtenteAgente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
    </operation>
    <operation name="recuperaNewsAttivePerAltriUtenti">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
    </operation>
    <operation name="recuperaNewsAttivePerUtenteEsterno">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="NewsFrontendWebServiceService">
    <port binding="tns:NewsFrontendWebServicePortBinding" name="NewsFrontendWebServicePort">
      <soap:address location="http://localhost:9081/gdo-web-services/NewsFrontendWebServiceService"/>
    </port>
  </service>
</definitions>