gdo-web-services/WebContent/WEB-INF/wsdl/NewsFrontendWebServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?><definitions name="NewsFrontendWebServiceService" targetNamespace="http://webservices.gdo.equitalia.it/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.gdo.equitalia.it/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.gdo.equitalia.it/" schemaLocation="NewsFrontendWebServiceService_schema1.xsd"></xsd:import>
    </xsd:schema>
  </types>
  <message name="recuperaNewsAttiveDestinateAdUtenteEnte">
    <part element="tns:recuperaNewsAttiveDestinateAdUtenteEnte" name="parameters"></part>
  </message>
  <message name="recuperaNewsAttiveDestinateAdUtenteEnteResponse">
    <part element="tns:recuperaNewsAttiveDestinateAdUtenteEnteResponse" name="parameters"></part>
  </message>
  <message name="BusinessException">
    <part element="tns:BusinessException" name="fault"></part>
  </message>
  <message name="recuperaNewsAttiveDestinateAdUtenteAgente">
    <part element="tns:recuperaNewsAttiveDestinateAdUtenteAgente" name="parameters"></part>
  </message>
  <message name="recuperaNewsAttiveDestinateAdUtenteAgenteResponse">
    <part element="tns:recuperaNewsAttiveDestinateAdUtenteAgenteResponse" name="parameters"></part>
  </message>
  <portType name="NewsFrontendWebServiceDelegate">
    <operation name="recuperaNewsAttiveDestinateAdUtenteEnte">
      <input message="tns:recuperaNewsAttiveDestinateAdUtenteEnte"></input>
      <output message="tns:recuperaNewsAttiveDestinateAdUtenteEnteResponse"></output>
      <fault message="tns:BusinessException" name="BusinessException"></fault>
    </operation>
    <operation name="recuperaNewsAttiveDestinateAdUtenteAgente">
      <input message="tns:recuperaNewsAttiveDestinateAdUtenteAgente"></input>
      <output message="tns:recuperaNewsAttiveDestinateAdUtenteAgenteResponse"></output>
      <fault message="tns:BusinessException" name="BusinessException"></fault>
    </operation>
  </portType>
  <binding name="NewsFrontendWebServicePortBinding" type="tns:NewsFrontendWebServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="recuperaNewsAttiveDestinateAdUtenteEnte">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="recuperaNewsAttiveDestinateAdUtenteAgente">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"></soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="NewsFrontendWebServiceService">
    <port binding="tns:NewsFrontendWebServicePortBinding" name="NewsFrontendWebServicePort">
      <soap:address location="http://localhost:9081/gdo-web-services/NewsFrontendWebServiceService"></soap:address>
    </port>
  </service>
</definitions>