gdo-web-service-client/src/META-INF/wsdl/NewsFrontendWebServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema targetNamespace="http://webservices.gdo.equitalia.it/" version="1.0" xmlns:tns="http://webservices.gdo.equitalia.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="BusinessException" type="tns:BusinessException"/>

  <xs:element name="recuperaNewsAttiveDestinateAdUtenteAgente" type="tns:recuperaNewsAttiveDestinateAdUtenteAgente"/>

  <xs:element name="recuperaNewsAttiveDestinateAdUtenteAgenteResponse" type="tns:recuperaNewsAttiveDestinateAdUtenteAgenteResponse"/>

  <xs:element name="recuperaNewsAttiveDestinateAdUtenteEnte" type="tns:recuperaNewsAttiveDestinateAdUtenteEnte"/>

  <xs:element name="recuperaNewsAttiveDestinateAdUtenteEnteResponse" type="tns:recuperaNewsAttiveDestinateAdUtenteEnteResponse"/>

  <xs:complexType name="recuperaNewsAttiveDestinateAdUtenteEnte">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="recuperaNewsAttiveDestinateAdUtenteEnteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:listaNews"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listaNews">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaNews" nillable="true" type="tns:newsBean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="newsBean">
    <xs:complexContent>
      <xs:extension base="tns:beanVersionabile">
        <xs:sequence>
          <xs:element minOccurs="0" name="agente" type="xs:boolean"/>
          <xs:element minOccurs="0" name="allegato" type="tns:allegatoBean"/>
          <xs:element minOccurs="0" name="dataFinePubblicazione" type="xs:string"/>
          <xs:element minOccurs="0" name="dataInizioPubblicazione" type="xs:string"/>
          <xs:element minOccurs="0" name="descrizioneStato" type="xs:string"/>
          <xs:element minOccurs="0" name="descrizioneTipoUtente" type="xs:string"/>
          <xs:element minOccurs="0" name="ente" type="xs:boolean"/>
          <xs:element minOccurs="0" name="filtroAmbito" type="tns:filtroAmbitoBean"/>
          <xs:element minOccurs="0" name="filtroEnte" type="tns:filtroEnteBean"/>
          <xs:element minOccurs="0" name="filtroProvinciaEnte" type="tns:filtroProvinciaEnteBean"/>
          <xs:element minOccurs="0" name="filtroRegioneAgente" type="tns:filtroRegioneAgenteBean"/>
          <xs:element minOccurs="0" name="filtroRegioneEnte" type="tns:filtroRegioneEnteBean"/>
          <xs:element minOccurs="0" name="filtroServizioAgente" type="tns:filtroServizioAgenteBean"/>
          <xs:element minOccurs="0" name="filtroServizioEnte" type="tns:filtroServizioEnteBean"/>
          <xs:element minOccurs="0" name="filtroSocieta" type="tns:filtroSocietaBean"/>
          <xs:element minOccurs="0" name="filtroTipologiaEnte" type="tns:filtroTipologiaEnteBean"/>
          <xs:element minOccurs="0" name="stato" type="xs:int"/>
          <xs:element minOccurs="0" name="svecchiata" type="xs:boolean"/>
          <xs:element minOccurs="0" name="testo" type="xs:string"/>
          <xs:element minOccurs="0" name="titolo" type="xs:string"/>
          <xs:element name="visualizzaPopUp" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="beanVersionabile">
    <xs:sequence>
      <xs:element minOccurs="0" name="codice" type="xs:int"/>
      <xs:element minOccurs="0" name="dataCreazione" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataModifica" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="descrizioneValida" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="owner" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerModifica" type="xs:string"/>
      <xs:element minOccurs="0" name="valida" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="allegatoBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="contenutoFile" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nomeFile" type="xs:string"/>
      <xs:element minOccurs="0" name="titolo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="filtroAmbitoBean">
    <xs:complexContent>
      <xs:extension base="tns:abstractFiltroBean">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="valori" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="abstractFiltroBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="idFiltro" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="filtroEnteBean">
    <xs:complexContent>
      <xs:extension base="tns:abstractFiltroBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="codiceEnte" type="xs:int"/>
          <xs:element minOccurs="0" name="codiceUfficioEnte" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoUfficioEnte" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="filtroProvinciaEnteBean">
    <xs:complexContent>
      <xs:extension base="tns:filtroProvinciaBean">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="filtroProvinciaBean">
    <xs:complexContent>
      <xs:extension base="tns:abstractFiltroBean">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="valori" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="filtroRegioneAgenteBean">
    <xs:complexContent>
      <xs:extension base="tns:filtroRegioneBean">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="filtroRegioneBean">
    <xs:complexContent>
      <xs:extension base="tns:abstractFiltroBean">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="valori" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="filtroRegioneEnteBean">
    <xs:complexContent>
      <xs:extension base="tns:filtroRegioneBean">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="filtroServizioAgenteBean">
    <xs:complexContent>
      <xs:extension base="tns:filtroServizioBean">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="filtroServizioBean">
    <xs:complexContent>
      <xs:extension base="tns:abstractFiltroBean">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="valori" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="filtroServizioEnteBean">
    <xs:complexContent>
      <xs:extension base="tns:filtroServizioBean">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="filtroSocietaBean">
    <xs:complexContent>
      <xs:extension base="tns:abstractFiltroBean">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="valori" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="filtroTipologiaEnteBean">
    <xs:complexContent>
      <xs:extension base="tns:abstractFiltroBean">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="valori" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BusinessException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="recuperaNewsAttiveDestinateAdUtenteAgente">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="recuperaNewsAttiveDestinateAdUtenteAgenteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:listaNews"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>